<section class="banner">
    <div class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron bgSizeCover">
                    <h1>Prisberegner med BilApi</h1>
                    <p>Du kan nu selv lave din egen online prisberegner med Bilapi!</p>
                    <button class="btn btn-primary btn-lg btn-header" href="#/dashboard">start her</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<header>-->
    <!--<div class="container">-->
    <!--<h2>{{hello}}</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur debitis-->
        <!--ducimus eius eveniet explicabo hic impedit minus nam neque, nesciunt obcaecati optio quae quis veniam vitae-->
        <!--voluptates. Incidunt, labore? this is a test</p>-->
    <!--</div>-->
<!--</header>-->
<section class="intro space-sm home-paragraph">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                    <div class="col-sm-12">
                        <h1>Så nemt laver du din egen</h1>
                    </div>
                    <div class="col-sm-12">
                        <p>Med  prisberegneren kan du sammensætte dine ydelser til biler eller andre køretøjer.</p>
                        <p>Dine kunder indtaster blot registreringsnummeret på deres køretøj og den foruddefinerede pris præsenteres for dem.</p>
                        <p>De kan herefter kontakte dig direkte og du kan få oprettet aftalen.</p>
                    </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                    <div class="videoWrapper img-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="case space dark-bg home-paragraph">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                        <div class="img-responsive">
                            <img src="../images/mapning/mapning.jpg" alt="mapning" class="img-responsive">
                        </div>
                 </div>
                <br>
            </div>
            <div class="col-sm-6">
                    <div class="col-sm-12">
                        <blockquote>
                            <p>"Det er virkelig let og hurtigt at mappe bilmærker og modeller til forskellige prisgrupper. Processen er overskuelig og jeg kan customize designet så det passer til den rette målgruppe!"</p>
                            <footer>Citat: Morten Halling (Udvikler BilApi)</footer>
                        </blockquote>
                        <button class="btn btn-primary btn-lg btn-case pull-right">Se case</button>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="demo space">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="demostyle">
                    <h1>
                        Se hvordan din prisberegner kan se ud!
                    </h1>
                    <button class="btn btn-success btn-lg btn-demo">Prøv en demo</button>
                    </div>
                </div>
         </div>
    </div>
</section>
<section class="footer">
    <div ng-include="'partials/footer/footer.view.html'"></div>
</section>
