<header>
    <div class="container">
    <h2>{{hello}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur debitis
        ducimus eius eveniet explicabo hic impedit minus nam neque, nesciunt obcaecati optio quae quis veniam vitae
        voluptates. Incidunt, labore? this is a test</p>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Så nemt laver du din egen</h2>
                    </div>
                    <div class="col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="videoWrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>