<header>
    <div class="container">
    <h2>{{hello}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur debitis
        ducimus eius eveniet explicabo hic impedit minus nam neque, nesciunt obcaecati optio quae quis veniam vitae
        voluptates. Incidunt, labore? this is a test</p>
    </div>
</header>
<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <div class="col-sm-12">
                        <h1>Så nemt laver du din egen</h1>
                    </div>
                    <div class="col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</p>
                    </div>
            </div>
            <div class="col-sm-6">
                    <div class="videoWrapper img-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="space dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                        <div class="img-responsive">
                            <img src="http://dummyimage.com/vga" alt="dummy image" class="img-responsive">
                        </div>
            </div>
            <div class="col-sm-6">
                    <div class="col-sm-12">
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam architecto asperiores consectetur consequatur corporis doloribus earum eius inventore iure iusto laborum minima non officiis quas sint sit velit vitae?</blockquote>
                        <button class="btn btn-primary btn-lg pull-right">Se case</button>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="space">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="demo">
                    <h1>
                        Se hvordan din prisberegner kan se ud!
                    </h1>
                    <button class="btn btn-success btn-lg btn-lg-space">Prøv en demo</button>
                </div>
            </div>
         </div>
    </div>
</section>
<section class="footer space dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>
                    (kontaktinformationer her)
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <p class="text-right">
                    (links til sociale medier her)
                </p>
            </div>
        </div>
    </div>
</section>