.dark-bg {
    background: #1c2334;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg blockquote,
.dark-bg p{
    color: #fff;
}
.space {
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 1.6em;
}
.space-sm {
    padding-top: 20px;
    padding-bottom: 80px;
}
.demostyle {
    background: linear-gradient(#f5f7f9, #f5f7f9) no-repeat 100% 0;
    border-left: none;
    color: #1c2334;
    margin: 0 0 30px 0;
    padding: 10px;
    position: relative;
    box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
}
.btn-header,
.btn-case,
.btn-demo  {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    border-radius: 5px;
}
.btn-case,.btn-header{
    background: linear-gradient(#008cba, royalblue) no-repeat 100% 0;
}
.btn-header {
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
}
.btn-demo {
    background: linear-gradient(#43ac6a, seagreen) no-repeat 100% 0;
}
.banner {
    margin-top: -5px;
    color: #fff;
}
.headerlead {
    color: #fff;
}
.bgSizeCover {
    padding-top: 9em;
    height: 40em;
    background-image: url("../images/headerimage/nummerplade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.xsheaeder {
    padding-top: 2em;
    height: 20em;
    background-image: url("../images/headerimage/nummerplade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.socials {
    font-size:35px;
    color:#fff;
    margin-left:10px;
    padding-bottom:5px;
}