.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dark-bg {
    background: #1c2334;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg blockquote,
.dark-bg p{
    color: #fff;
}
.space {
    padding-top: 80px;
    padding-bottom: 80px;
}