<div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
    <a class="btn btn-success btn-xs" ng-if="node.models && node.models.length > 0" data-nodrag ng-click="renderModels(this)"><span
            class="glyphicon"
            ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.name}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
            class="glyphicon glyphicon-remove"></span></a>
    <select ng-model="node.prisgruppeId" ng-change="updateModels(node.models,node.prisgruppeId)" class="pull-right prisgruppe-select">
        <option data-ng-repeat="gruppe in calculator.prisgrupper" value="{{gruppe.id}}" ng-selected="node.prisgruppeId && (gruppe.id == node.prisgruppeId)">{{gruppe.name}}</option>
    </select>
   <!-- <select ng-model="node.prisgruppe" ng-change="updateModels(node.models,node.prisgruppe)" ng-options="gruppe.name for gruppe in calculator.prisgrupper" class="pull-right prisgruppe-select">
    </select>-->

</div>
<div ng-if="loadmodels == node.id">
<ol ui-tree-nodes="" ng-model="node.models" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.models" ui-tree-node ng-include="'partials/calculator/tmpl/models_renderer.html'">
    </li>
</ol>
</div>