<div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
    <a class="btn btn-success btn-xs" ng-if="node.models && node.models.length > 0" data-nodrag ng-click="toggle(this)"><span
            class="glyphicon"
            ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.name}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
            class="glyphicon glyphicon-remove"></span></a>
    <select ng-model="node.prisgruppe" ng-options="item.name for item in calculator.prisgrupper" class="pull-right prisgruppe-select">
    </select>

</div>
