<div class="space dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <p>
                    Kontakt os på tlf: 12 34 56 78
                </p>
            </div>
            <div class="col-xs-4 pull-right">
                <a href="https://facebook.com">
                    <i class="fa fa-facebook-square pull-right" style="font-size:30px;color:#fff;margin-left:15px"></i>
                </a>
                <a href="https://github.com/claushansen/motorregister_api">
                    <i class="fa fa-github-square pull-right" style="font-size:30px;color:#fff;"></i>
                </a>
            </div>
        </div>
    </div>
</div>