<div class="space dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <p>
                    Kontakt os på tlf:&nbsp12&nbsp34&nbsp56&nbsp78
                </p>
            </div>
            <div class="col-xs-5 pull-right">
                <a href="https://facebook.com">
                    <i class="fa fa-facebook-square pull-right socials"></i>
                </a>
                <a href="https://github.com/claushansen/motorregister_api">
                    <i class="fa fa-github-square pull-right socials"></i>
                </a>
            </div>
        </div>
    </div>
</div>