<div class="mycalculator-wrapper" apply-styles>
    <mc-messages></mc-messages>
    <div ng-show="settings" class="col-sm-12">
        <div ng-show="!offer" class="row">
            <h3>{{settings.title}}</h3>
            <p class="my-description">{{settings.description}}</p>
        </div>
        <!--vehicle info -->
        <div class="row vehicle-info" ng-show="offer.vehicle">
            <h4>Køretøjets data</h4>
            <div class="col-sm-8">
                <span class="label label-success">Registreringsnummer : {{offer.vehicle.Licensplate}}</span>
                <span class="label label-primary">Mærke : {{offer.vehicle.Brand}}</span>
                <span class="label label-primary">Model : {{offer.vehicle.Model}}</span>
                <span class="label label-primary">Variant : {{offer.vehicle.Variant}}</span>
                <span class="label label-primary">Årgang : {{offer.vehicle.ModelYear}}</span>
                <span class="label label-primary">Type : {{offer.vehicle.VehicleType}}</span>
                <span class="label label-primary">Status : {{offer.vehicle.Regstatus}}</span>
            </div>
            <div class="col-sm-4 text-center"><button class="btn btn-link" ng-click="reset()"> Ny Søgning</button></div>
        </div>
        <!-- selected info -->
        <div class="row selected-info" ng-show="manualSearch && offer">
            <h4>Dine Valg</h4>
            <div class="col-sm-8">
                <span class="label label-primary">Mærke : {{search.brand.name}}</span>
                <span class="label label-primary">Model : {{search.model.name}}</span>
            </div>
            <div class="col-sm-4 text-center"><button class="btn btn-link" ng-click="reset()"> Ny Søgning</button></div>
        </div>
        <!--search by licensplate-->
        <div class="row" ng-show="!manualSearch && !offer">
            <div class="row">
                <form  id="licensplateform">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="licensplate">Indtast nummerplade</label>
                            <div class="input-group ">

                                <input type="text" class="form-control col-sm-6 text-uppercase" id="licensplate" placeholder="AA12345" ng-minlength="7" ng-model="search.licensplate" ng-change="search.licensplate = search.licensplate.toUpperCase();" required/>
                                <div class="input-group-addon"><button class="btn  btn-primary" ng-disabled="!search.licensplate"  ng-click="findOfferLicensplate()"><span class="glyphicon glyphicon-search"></span></button> </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row"><hr></div>
            <div class="row text-center">
                <button class="btn  btn-primary col-sm-6 col-sm-offset-3 offersearch-manual-btn" ng-click="setManual();getBrands()">
                    <i ng-show="brandsloading" class="fa fa-spinner fa-spin fa-lg fa-fw margin-bottom"></i> Eller vælg manuelt</button>
            </div>
        </div>
        <!--Manual search-->
        <div class="row" ng-show="manualSearch && !offer" >
            <div class="row text-center">
                <button class="btn  btn-primary col-sm-6 col-sm-offset-3 offersearch-manual-btn" ng-click="setManual()">Eller Indtast nummerplade</button>
            </div>
            <div class="row"><hr></div>
            <div class="row">
                <form  id="manualform">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="brandselect">Mærke</label>
                            <select id="brandselect" ng-model="search.brand" ng-change="getModels()" ng-options="brand.name for brand in brands" class="form-control">
                           </select>
                        </div>
                        <div class="form-group" ng-show="search.brand">
                            <label for="modelselect">Model</label>
                            <select id="modelselect" ng-model="search.model" ng-change="findOfferManual()" ng-options="model.name for model in models" class="form-control">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- has offer -->
        <div class="row" ng-show="offer && offer.hasoffer">
            <h2 class="offer">Din pris {{offer.offer}} Kr.</h2>
        </div>
        <!-- No offer -->
        <div class="row" ng-show="offer && !offer.hasoffer">
            <h2 class="offer">Vi kan desværre ikke give dig et tilbud på dette køretøj</h2>
        </div>
        <!--contact form-->
        <div class="row" ng-show="offer && settings.settings.calltoaction.type == 'contact'">
            <hr>
            <div class="col-sm-10 col-sm-offset-2">
            <h4>Kontakt os om dette tilbud</h4>
            </div>
            <form name="contactform" role="form" class="form-horizontal">
                <div class="form-group" ng-class="{ 'has-error': contactform.name.$dirty && contactform.name.$error.required }">
                    <label for="name" class="col-sm-2 control-label">Dit navn</label>
                    <div class="col-sm-10">
                        <input name="name" type="text" ng-model="contact.name" class="form-control" id="name" placeholder="Dit navn" required />
                        <p class="help-block">
                            <span ng-show="contactform.name.$invalid && !contactform.name.$pristine">Dette felt er krævet.</span>
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.email.$dirty && contactform.email.$error.required || contactform.email.$dirty && contactform.email.$error.email }">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input name="email" type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Email" required />
                        <p class="help-block">
                            <span ng-show="contactform.email.$invalid && !contactform.email.$pristine">Dette felt er krævet.</span>
                            <span ng-show="contactform.email.$invalid && contactform.email.$error.email">Ikke en korrekt email.</span>

                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.phone.$dirty && contactform.phone.$error.required }">
                    <label for="phone" class="col-sm-2 control-label">Telefon</label>
                    <div class="col-sm-10">
                        <input name="phone" type="text" ng-model="contact.phone" class="form-control" id="phone" placeholder="Telefon nummer" required />
                        <p class="help-block">
                            <span ng-show="contactform.phone.$invalid && !contactform.phone.$pristine">Dette felt er krævet.</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Besked</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="message" ng-model="contact.message" rows="3" id="message" required></textarea>
                        <p class="help-block">
                            <span ng-show="contactform.message.$invalid && !contactform.message.$pristine">Dette felt er krævet.</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn  btn-primary col-sm-10 col-xs-12 col-sm-offset-2"  ng-disabled="contactform.$invalid" ng-click="sendContact()">
                    <i ng-show="sendmsgloading" class="fa fa-spinner fa-spin fa-lg fa-fw margin-bottom"></i> Send Besked</button>
                </div>
            </form>
        </div>
        <!-- redirect button-->
        <div class="row" ng-show="offer && settings.settings.calltoaction.type == 'redirect'">
            <button class="btn  btn-primary btn-lg col-md-6 col-xs-12 col-md-offset-3" ng-click="redirect()">{{settings.settings.calltoaction.redirectButtonText}}</button>
        </div>
    </div>
</div>
<script>
    window.iFrameResizer = {
    };
</script>